<?xml version='1.0' encoding='utf-8'?>
<Configuration status="INFO" name="cloudhub" packages="com.splunk.logging,org.apache.logging.log4j,org.javastack.log4j.simplejson" monitorInterval="30">

	<properties>
		<property name="splunkhttpJson">
			{
			"event":
			{
			"date": "%d{yyyy-MM-dd HH:mm:ss.SSS}",
			"serviceName":"${sys:app.name}"
			},
			"logText":"%json{%m}"
			}%n
		</property>
		<property name="jsonlayout">{"properties":{"contentType":"application/json;charset=UTF-8"},"body":"%json{{"event":{"severity":"%p","logger":"%c","thread":"%json{%t}","mdc":"%json{%MDC}","message":{"event":{"date":"%d{yyyy-MM-dd
			HH:mm:ss.SSS}","serviceName":"${sys:app.name}"},"logText":"%json{%m}"}}}}"}</property>
		<!-- Define environment mappings -->
		<Property name="environment.dev">dev</Property>
		<Property name="environment.stage">stage</Property>
		<Property name="environment.production">prod</Property>
	</properties>

	<Appenders>

		<Console name="CONSOLE" target="SYSTEM_OUT">
			<PatternLayout pattern="-5p %d [%t] [processor: %X{processorPath}; event: %X{correlationId}] %c: %m%n" />
		</Console>

		<AnypointMqAppender name='anypointmq'
			url='https://mq-us-west-2.anypoint.mulesoft.com/api/v1/organizations/a19065cb-4dd4-4916-9401-bb64b169742c/environments/${sys:env.id}/destinations/${sys:environment}-splunk/messages/' method='PUT'
			clientId='${sys:anypointmq.clientid}' clientSecret='${sys:anypointmq.clientsecret}'>
			<Property name='Content-Type' value='application/json' />
			<PatternLayout pattern="${jsonlayout}" charset="UTF-8" />
		</AnypointMqAppender>

		<SplunkHttp name="Splunk" url="https://splunkindexer.abcxyz.org" token="${sys:splunk.token}" index="${environment.${lower:${sys:environment}}}_mule_app_logs"
			source="${sys:app.name}" sourceType="mule-app" messageFormat="json" batch_size_count="${sys:batch_size_count}" batch_interval="${sys:batch_interval}" batch_size_bytes="${sys:batch_size_bytes}"
			disableCertificateValidation="true">
			<PatternLayout pattern="${splunkhttpJson}" charset="UTF-8" />
		</SplunkHttp>

		<Failover name="failover_appender" primary="Splunk">
			<Failovers>
				<AppenderRef ref="anypointmq" />
			</Failovers>
		</Failover>

	</Appenders>

	<Loggers>
		

		<AsyncLogger name='org.mule.service.http' level='WARN'>
			<AppenderRef ref='CONSOLE' />
			<AppenderRef ref='failover_appender' />
		</AsyncLogger>
		<AsyncLogger name='org.mule.extension.http' level='WARN' additivity='false'>
			<AppenderRef ref='CONSOLE' />
			<AppenderRef ref='failover_appender' />
		</AsyncLogger>

		<AsyncRoot level="INFO">
			<AppenderRef ref="failover_appender" />
		</AsyncRoot>
	</Loggers>

</Configuration>